
.top{
    background: black;
    background: linear-gradient(black 25%, white 50%);
    width: 100%;
    text-align: center;




}


.footer-sticky{
    
    position: absolute;
    bottom: 0%;
    width: 100%;
}