
body {
    background: linear-gradient(-45deg, #404040, #333333, #292929);
    background-size: 400% 400%;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

@media (max-width: 1000px){
    body{
        font-size: xx-large;
    }
}

@media (max-width: 1000px){
    .body-name-h1{
        font-size: 180px;
    }
}

.icon {
    background: url('https://cdn.discordapp.com/attachments/899307811803107350/916401378270781461/fiverrFooterImg.png');
    height: 64px;
    width: 64px;
    display: block;
}
.body-text{
    top: 35%;
    position: absolute;
}


.body-text-p{
    width: 50%;
    margin: auto;
}

 .footer{
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     text-align: center;
     color: rgb(90, 89, 89);
 }

