 body{
    background-color: #333333;
    color: white;
    font-family: Georgia, serif;
    text-align: center;
}

.body-text{
   top: 35%;
   position: absolute;
}


.body-text-p{
    width: 50%;
    margin: auto;
}
